.blog-item{
    width:100%;
    height: auto;
    background: #fff;
    border: 1px solid #cacaca;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    @media (max-width: 767.98px){ width: auto; }
    .blog-image{
        position: relative;
        overflow: hidden;
    }

    .blog-title{
        height: 5.5rem;
        font-weight: bold;
        padding: 15px;
        // display: -webkit-box;
        // -webkit-line-clamp: 2;
        // -webkit-box-orient: vertical;
        // overflow: hidden;
        // text-overflow: ellipsis;
    }
    .blog-body{
        padding: 15px;
        // margin-bottom: 20px;
        // line-height: 1.4;
        // display: -webkit-box;
        // -webkit-line-clamp: 2;
        // -webkit-box-orient: vertical;
    }
    .icons-share{
        padding: 15px;
        .a2a_svg.a2a_s__default.a2a_s_a2a{
            border-radius: 50%;
        }
            
    }
    


}

.view-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    a.btn-md.btn.btn-second {
        color: $ideas-caption-blue;
        font-size: 16px;
        font-weight: 600;
        padding: 1rem 1.25rem;
    }
    i.bi.bi-arrow-right {
        margin-left: 4px;
    }
}

nav.pager {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    align-items: center;
    .page-link{
        color: $ideas-violet;
    }
}

