header{
    .header-logo {
       .navbar-brand {
        margin-right: 0;
        .site-logo {
            text-align: center;
            position: relative;            
        }
        img{
            height: 80px;
            margin: 0;
        }
       } 
    }
    
    #navbar {
        background-color: #FFF;
        overflow: hidden;
        .nav-menu ul.navbar-nav {
            justify-content: center;
            flex-direction: row;
            li {
                a{
                    color: $ideas-gray-darker;
                    padding: 10px 0;
                    margin: 0 10px;
                    font-weight: bold;
                    border-bottom: 6px solid #FFF;
                    &:active, &:hover, &.is-active {
                    color: $ideas-violet;
                    font-weight: bolder;
                    border-bottom: 6px solid $ideas-violet;
                    }
                    &:visited{
                        color: $ideas-gray-darker;
                    }
                }
            }   
        }

    } 
}