.jumbotron{
    // margin-bottom: 2rem;
    position: relative;
    overflow: hidden;
    background: url(/sites/default/files/images/hero.png);
    background-repeat: no-repeat;
    // background-size: cover;
    background-position: center;
    height: 600px;
    border-radius: 0;
}

.hero-content{
    max-width: 50%;
    padding: 4rem 2rem;
    color: #fff;
    p{
        margin-bottom: 2.5rem;

    }
    a{
        text-decoration: none;
        text-align: center;

    }
}