.jumbotron{
    // margin-bottom: 2rem;
    position: relative;
    overflow: hidden;
    // background: url(/sites/default/files/2023-04/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    border-radius: 0;
    @media (max-width: 767.98px){
        height: 350px;
       
    }


    .hero-content{
        position: relative;
        max-width: 50%;
        padding: 4rem 2rem;
        color: #fff;
        @media (max-width: 767.98px){
            max-width: 100%;
            padding: 0;
        }
        h1{
            margin-bottom: 1.75rem;

        }
        p{
            margin-bottom: 1.75rem;
    
        }
        a{
            display: inline-block;
            text-decoration: none;
            text-align: center;
    
        }
    }
}

