.paragraph--type--bp-block {
    align-items: center;
    text-align: center;

    h2 {
        width: 100%;
        text-align: center;
        display: inline-block;

    div{
        // font-size: 40px;
        color: $ideas-violet;
        line-height: 48px;
        text-align: center;
        max-width: 460px;
        width: 100%;
        margin: auto;
   
        
    }

    &:after{
        position: absolute;
        content: "";
        bottom: 0;
        width: 60px;
        height: 4px;
        background-color: $ideas-yellow;
        left: 48%;
        @media (min-width: 992px) { left: 48%; }

    }  
    }

}