.paragraph--type--bp-block {
    align-items: center;
    text-align: center;
    padding-top: 3.5rem;

    @media (max-width: 991px){
        padding-top: 2rem;
       
    }
    @media (max-width: 575px){
        padding-top: 1.5rem;
       
    }

    h2 {
        position: relative;
        text-align: center;
        color: $ideas-violet;
        line-height: 48px;
        max-width: 460px;
        padding-bottom: 20px;
        display: inline-block;

        &:after{
            position: absolute;
            content: "";
            width: 60px;
            height: 4px;
            background-color: $ideas-yellow;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;

        }  
    }

}